<%= image_tag "sky.jpg", class: "full-screen-background-image" %>

<div class = "wrapper">

<h2 class = "centerText" > <strong> SIMPLE TODO LISTS </strong> </h2>

    <%= render partial: "form_index", collection: @projects, as: :project %> 

<div class="centerObject">
  
  <%= button_to new_project_path, { method: :get, class: "btn btn-primary buttonSize" } do %>

      <i class = "glyphicon glyphicon-plus" > Add TODO List</i>

  <% end %>
</div>

</div>