// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centerText {
	text-align: center;
	padding-bottom: 3em;
}

.centerObject {
	position: relative;
	width: 4em;
	right: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}
